body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e01111;
    text-align: center;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
      "header header"
      "aside article"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    background-color: #c3cd5a;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;

  }
  
  header {
    grid-area: header;
    font-family: cursive;
    background-color: #044842;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  
  aside {
    grid-area: aside;
    font-family: cursive;
    background-color: #0d8114;
    padding: 20px;
    color: white;
  }
  
  article {
    grid-area: article;
    font-family: cursive;
    color: white;
    background-color: #f28787;
    padding: 20px;
    display: flex;
    gap: 70px;
  }

  footer {
    grid-area: footer;
    font-family: cursive;
    background-color: #188f85;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .image {
    width: 100px;
    height: 145px;
    background-image: url('image1.jpg'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 3px;
    border: 2px solid black;
    margin-top: 100px;
  }